.body-color{
  background-color: #ff0a7e;
  font-size: 20px;
}
.head{
  background-color: white;
}
.lista{
  margin-top: 4%;
}
.input>input{
  border-radius: 15px;
  background-color: lightgray;
  font-size: 22px;
  color: white;
}
.container-map{
  margin-left: 4%;
  width: 90%;
  margin-top: 3%;
}
.map{
  height: 250px;
  width: 300;
}
.footer{
  background-color: #000000 ;
}
.redes img{
  width:70%;
}
