<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vagando Ando</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/hack.css">
</head>

<body class="body-color">
  <div>
    <header class="header clearflix ">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="../assets/vagando-logo-blanco.svg" alt="Logo"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Puntos Vagos</a></li>
              <li><a href="#">Registrate</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>

  </div>
  <section class="container-fluid">
    <section class="row head">
      <header class="col-md-7 col-md-offset-5 text-muted">
        <h2>Sigue la Party</h2>
      </header>
    </section>

    <section class="container lista">
      <div class="container">
        <label><input type="radio" name="optradio">Hoteles</label>
      </div>
      <div class="container">
        <label><input type="radio" name="optradio">Restaurantes</label>
      </div>
      <div class="container">
        <label><input type="radio" name="optradio">Bares</label>
      </div>
      <div class="container">
        <label><input type="radio" name="optradio">Serv. Médico</label>
      </div>
      <div class="container">
        <label><input type="radio" name="optradio">Estacionamientos</label>
      </div>
      <div class="container">
        <label><input type="radio" name="optradio">Tiendas</label>
      </div>

      <div class="input col-md-7 col-lg-offset-5 text-muted">
        <input type="button" name="Home" value="Home" href ="home.html">
      </div>

    </section>
  </section>

  <section class="container-map col-md-offset-1">
    <div id="map" class="map"></div>
  </section>

  <footer class="footer text-center col-xs-12">
    <hr>
    <div class="col-xs-6 col-xs-offset-3">
      <span class="col-xs-3 redes"><img src="../assets\footer\facebook.ico" alt="Facebook"></span>
      <span class="col-xs-3 redes"><img src="../assets\footer\photos.ico" alt="Instragram"></span>
      <span class="col-xs-3 redes"><img src="../assets\footer\skype.ico" alt="Skype"></span>
      <span class="col-xs-3 redes"><img src="../assets\footer\tweet.ico" alt="twitter"></span>
    </div>
    <div class="col-xs-12 text-center">
      <hr> © 2017 taShidotuKoto
    </div>
  </footer>


  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/hack.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUDow1mwmDrwpTzV19mArtlQGLpjtZFCQ&callback=initMap" type="text/javascript"></script>

</body>

</html>
