.map {
  margin-top: 100px;
	height: 400px;
}

.ciudad {
	cursor: pointer;
}

h1{
  margin-left: 8px;
  background-color: #252226;
  color: #FFF;
}

#navLugares{
  background-color: #FFF;
}

img{
  height: 20px;
  width: 20px;
  padding: 2px;
}
.footer{
  background-color: #000000;
}
.redes img{
  width:50%;
  height: 10vh;
}
nav{
  margin: 0;
  width: 100%;
}
.solucion img{
  width: 100%
}
